@model MyBooks.Models.Customer
@using MyBooks.Models
@{
    ViewBag.Title = "ShowInfo";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/mystyle.css" rel="stylesheet" />

<h2>ShowInfo</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.NameCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

    </dl>
</div>
<div class="btn custom-btn btn-16">
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCus })</div>
    <div class="btn custom-btn btn-16">
        @Html.ActionLink("Back to List", "Index")
    </div>

