@model IEnumerable<MyBooks.Models.OrderDetail>

@{
    ViewBag.Title = "QLDonHang";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/mystyle.css" rel="stylesheet" />

<table class="table">
    <tr>
        <th>
            <span>MÃ HÓA ĐƠN</span>
        </th>
        <th>
            <span>MÃ SẢN PHẨM</span>
        </th>
        <th>
            <span>SỐ LƯỢNG</span>
        </th>
        <th>
            <span>GIÁ CŨ</span>
        </th>
        <th>
            <span>GIÁ MỚI</span>
        </th>
        <th>
            <span>VOUCHER ÁP DỤNG</span>
        </th>
        <th>
            <span>TỈ LỆ GIẢM</span>
        </th>
        <th>
            <span>MÃ KH</span>
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceOld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VOUCHER.MoTa)
            </td>
            @if (item.VOUCHER != null)
            {
                <td>
                    <span>@Math.Round((double)item.VOUCHER.GIAM * 100, 0) %</span>
                </td>
            }
            else
            {
                <td><span>Không áp dụng voucher</span></td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.OrderPro.IDCus)
            </td>
            @*<td>
                    <a class="btn">ĐÃ GIAO</a>
                </td>*@
        </tr>
    }
</table>
<a  href="@Url.Action("AdminControl", "Admin")" class="btn custom-btn btn-5" style="border: 1px solid black">Về trang chủ</a>